################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HSVLayer
/HSVLayer/bin/Release
/HSVLayer/obj
/HSVLayer/Properties
