################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HSVLayer
/HSVLayer/bin/Release
/HSVLayer/obj
/HSVLayer/Properties
/.vs/BeatSaber_HSVLayer/v17
/HSVLayer/.vs
/HSVLayer/HSVLayer.csproj.user
/.vs
